@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Mukta&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css');

/* || Root variables */
:root {
  /* == Fonts */
  --font-header: 'Crete Round', serif;
  --font: 'Mukta', sans-serif;

  /* == Colors */
  --color-bg: #ece5d8;
  --color-font: 'black';
  --color-accent: #d7b16c;
  --color-box: #E2DAD0;
}

/* || General Styles */
body {
  background-color: var(--color-bg);
}

h1,
h2,
h3,
h4,
p,
a,
i,
input,
textarea {
  color: var(--color-font);
  font-family: var(--font);
}

/* || Header, Footer and main navigation */
h1 {
  font-family: var(--font-header);
  size-adjust: 100px;
}

.headerBox {
  background-color: var(--color-box);
}

/* || Images */
.mascot {
  height: 100px;
  width: 100px;
}
